<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Webseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Hauptseite.css') }}">

</head>
<body>
    <div class="container">

        <header>
        
        <!-- Wenn man angemeldet ist werden nur 2 buttons angezeigt -->
        {% if Angemeldet %}
            <button class="nav-button" onclick="window.location.href='/'">Home</button>
            <button class="nav-button" onclick="window.location.href='/Post'">Post</button>
        {% else %}
            <button class="nav-button" onclick="window.location.href='/'">Home</button>
            <button class="nav-button" onclick="window.location.href='/Post'">Post</button>    
            <button class="nav-button" onclick="window.location.href='/Login'">Login</button>
            <button class="nav-button" onclick="window.location.href='/Registrieren'">Registrieren</button>                 
        {% endif %}

        </header>

        <div class="left-aside">Linke Sidebar</div>
        <main>
            <h1>Travel Feed</h1>

    <!-- Post in Feed -->
    {% for post in posts %}
        <div>
            <img src="{{ url_for('static', filename='images/' + post.image_file) }}" alt="Travel Photo" width="300"><br>
            <p>{{ post.description }}</p>
            <hr>
        </div>
    {% endfor %}

    <a href="/">Go to Post Page</a>
            </div>
        </main>
        <div class="right-aside">Rechte Sidebar</div>
        <footer>Footer</footer>
    </div>
</body>
</html>
