<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meine Webseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Hauptseite.css') }}">
</head>

<body>

    <div class="container">

        <header>
            <button class="nav-button" onclick="window.location.href='/'">Home</button>
            
        </header>
        
        <div class="left-aside">Linke Sidebar</div>

        <main>

            <h1>Registrieren</h1>

            <div class="info-text">
                Willkommen auf dem Registrieren!
            </div>

            <div class="info-text">
            
        <h1>Registrieren-Seite</h1>

        <form method="POST">
            <label for="username">Benutzername:</label><br>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Passwort:</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <button type="submit">Registrieren</button>
        </form>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

            <p>Bereits ein Konto? <a href="/Login">Hier einloggen</a></p>

        </main>

        <div class="right-aside">Rechte Sidebar</div>
        <footer>Footer</footer>

    </div>

</body>
</html>